node_modules/
*.log
openingtrainer-*.zip
ChessCareer.html
ChessCareer-standalone.html
ChessCareer.apk
*.apk
build/apk/
app_project/android/local.properties
app_project/android/**/build/
app_project/android/.gradle/
/tmp/
